   *{
    margin: 0;
    padding: 0;
    }

    .cabecalho {
        background-color: rgb(7,11,30);
        color:rgb(222,215,215);
        display:flex;
        justify-content: space-around;
        align-items:center;
        padding:20px 0;
    }

         .cabecalho-imagem{
          width: 20%;
    }
        .cabecalho-lista-item{
        display:inline-blok;
        margir: 0 24px;
        font-size: 16px;

    }

    .tecnico{
        backhround-imagem: linear-gradient(#0E0229,#f0edf8);
        color: white;
padding: 24px 0;
display: flex;
justify-content: center;
align-items: center;
    }
    .tecnico-div-conteudo{
       width: 35%;
}</a>
text-aling:center;
padding: 50px;

.estudante-imagem{
height: 120px;
}
.estudante-icone{
  width: 24px;
}
